<%= form_tag login_path, :method => :post, :class => "form-signin" do %>
  <h2 class="form-signin-heading">Please Log in</h2>
  <hr class="marginhr">
  <div class="field">
  <h5 class="h5title">Email</h5>
  <div class="input-group">
    <%= text_field_tag :email, nil, class: "form-control", :'aria-describedby' => "basic-addon2" %>
    <span class="input-group-addon" id="basic-addon2">@snu.ac.kr</span>
  </div>
  </div>

  <div class="field">
    <h5 class="h5title">Password</h5>
    <%= password_field_tag :password, nil, class: "form-control" %>
  </div>
  <div class="checkbox">

    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>

    <%= link_to "Forgot Password?", new_password_reset_path, class: "forgot" %>
  </div>
  <div class="actions">
    <%= submit_tag "Log in", class: "btn btn-lg btn-primary btn-block login" %>
  </div>
  <%= link_to "Sign up", new_user_path, class: "signup signup1" %>
  <p class="signup">Not a member yet?</p>
<% end %>
